[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rcmdr"]
	path = Rcmdr
	url = https://github.com/rcmdr-project/rcmdr
	subdir = pkg
[submodule "RcmdrMisc"]
	path = RcmdrMisc
	url = https://github.com/rcmdr-project/rcmdrmisc
